table, td, th{
    border: 1px solid #000;
}

table{
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    /* border-spacing: 50px 10px; */
    /* empty-cells: hide; */

}

td, th{
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

th{
    background-color: #8a8;
    color: #fff;
    font-size: 25px;
}

/* even serve para selecionar os elementos pares */
tr:nth-child(even){
    background: #ddd;
}